<footer class="footer footer--homepage">
    <div class="footer-inner">
        <div class="cards cards--three cards--three--even cards--community cards--community--dark">
            <div class="card">
                <a href="https://status.im/get/" class="card-inner">
                    <div class="community-icon community-icon--join"></div>
                    <h4><%= __('footer.join.chat') %></h4>
                    <p class="secondary-text"><%= __('footer.join.chat_desc') %></p>
                </a>
            </div>
            <div class="card">
                <a href="https://discuss.status.im" class="card-inner">
                    <div class="community-icon community-icon--discussion"></div>
                    <h4><%= __('footer.join.discussion') %></h4>
                    <p class="secondary-text"><%= __('footer.join.discussion_desc') %></p>
                </a>
            </div>
            <div class="card">
                <a href="https://github.com/status-im" class="card-inner">
                    <div class="community-icon community-icon--contribute"></div>
                    <h4><%= __('footer.join.contribute') %></h4>
                    <p class="secondary-text"><%= __('footer.join.contribute_desc') %></p>
                </a>
            </div>
        </div>
        <ul class="footer-nav">
            <li><a href="/contribute/open_positions.html"><%= __('footer.nav.open_positions') %></a></li>
            <li><a href="/contribute/our_principles.html"><%= __('footer.nav.principles') %></a></li>
            <li><a href="/get/"><%= __('footer.nav.get_status') %></a></li>
        </ul>
        <div class="footer-logo-wrap">
            <div class="footer-logo-wrap__inner">
                <a class="footer-logo" href="https://status.im" target="_blank"></a>
                <div class="footer-address secondary-text"><%= __('footer.address') %><br/>Baarerstrasse 10<br/>Zug, Switzerland</div>
            </div>
        </div>
    </div>
</footer>
