<div class="header">
    <div class="header-left">
        <a class="logo" href="<%- url_for_lang('/')%>"></a>
        <%- include('shared-partials/partials/header-nav'); %>
    </div>
    <div class="header-right">
        <a href="https://get.status.im/chat/public/status" class="button"><%= __('header_nav.join_chat') %></a>
    </div>
</div>

<div class="mobile-nav-wrap">
    <div class="mobile-nav-inner">
        <a class="logo" href="<% url_for_lang('/')%>"></a>
        <a class="icon-close mobile-nav-close" href="#"></a>
        <ul class="mobile-nav">
            <li><a href="https://our.status.im/"><%= __('header_nav.blog') %></a></li>
            <li><a href="<% url_for_lang('docs')%>"><%= __('header_nav.docs') %></a></li>
            <li class="item--dropdown item--to-show">
              <span><%= __('header_nav.projects') %></span>
              <ul class="mobile-sub-nav">
                <li><a href="https://incubate.status.im/" class=""><%= __('footer.projects.incubate') %></a></li>
                <li><a href="https://nimbus.status.im/" class=""><%= __('footer.projects.nimbus') %></a></li>
                <li><a href="https://embark.status.im/" class=""><%= __('footer.projects.embark') %></a></li>
                <li><a href="https://hardwallet.status.im/" class=""><%= __('footer.projects.keykard') %></a></li>
              </ul>
            </li>
            <li><a href="<% url_for_lang('contribute')%>" class=""><%= __('header_nav.contribute') %></a></li>
        </ul>
        <div class="mobile-nav-footer">
            <a href="https://get.status.im/chat/public/status" class="button button--blue"><%= __('header_nav.join_chat') %></a>
        </div>
    </div>
    <div class="mobile-nav-overlay"></div>
</div>

<%- include('shared-partials/partials/community-popup') %>

<%- include('shared-partials/partials/projects-popup') %>
